<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Portal Sys3</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div id="header">
            <img src="/images/header-img.svg" alt="Logo Sys3 Header">
        </div>

        <div id="container">
            <div id="sidebar">
                <div class="links">
                    <img class="box" src="/images/box.svg" alt="Box Icon"> <a href="/">Dashboard</a>
                </div>
    
                <button class="collapsible" onclick="handleProducts()">
                    <img class="box" src="/images/box.svg" alt="Box Icon"> <span>Produtos</span>
                </button>
                <div class="collapsible-content">
                    <div class="collapsible-links">
                        <img class="box" src="images/box.svg" alt="Box Icon"> <a href="consultar-produtos">Consultar</a>
                    </div>
                    <div class="collapsible-links">
                        <img class="box" src="/images/box.svg" alt="Box Icon"> <a href="cadastrar-produtos">Cadastrar</a>
                    </div>
                </div>
    
                <div class="links">
                    <img class="box" src="/images/box.svg" alt="Box Icon"> <a href="consultar-vendas">Vendas</a>
                </div>

                <div class="links">
                    <img class="box" src="/images/box.svg" alt="Box Icon"> <a href="">Configurações</a>
                </div>

                <div class="links">
                    <img class="box" src="/images/box.svg" alt="Box Icon"> <a href="/login">Tela de Login</a>
                </div>
            </div>
    
            <div id="main-container">
                <h1>PRODUTOS</h1>
                <div class="content-container" style="height: 200px;">
                    <div class="content-header">
                        <h1>CADASTRO</h1>
                    </div>

                    <form action="/create" method="POST" class="form">
                        <div class="input-container">
                            <span class="default-span">Código</span>
                            <input type="text" class="default-input" name="code">
                        </div>

                        <div class="input-container">
                            <span class="default-span">Descrição</span>
                            <input name="description" type="text" class="default-input" style="width: 170px;">
                        </div>

                        <div class="input-container">
                            <span class="default-span">Quantidade Estoque</span>
                            <input name="stockQuantity" type="number" class="default-input">
                        </div>
                     
                        <div class="buttons-container">
                            <button type="submit" class="submit-button">Salvar</button>
                            <button type="reset" onclick="switchButtonToOn();" class="reset-button">Cancelar</button>
                        </div>
                    </form>    
                </div>
            </div>
        </div>

        <script src="/js/scripts.js"></script>
    </body>
</html>